$rojoOscuro: #be0123;
$azulMarino: #03a4cf;
$moradoOscuro: #bc1db6;
$negroGrises: #242424;

*{
    font-family: Arial, Helvetica, sans-serif;
}

h1,h2,h3,h4{
    font-family: Prata; 
}

.logos-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menu-navegacion{
    background-color: $rojoOscuro;
}

.contacto{
    background-color: $negroGrises;
}

.menunavbar{
    font-weight: bold;
}

.descripcion{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.2rem;
}

.elfooter{
    background-color: $negroGrises;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

// Pantallas pequeñas

@media screen and (max-width: 768px) {

    .logos-menu{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .banderas{
        margin-bottom: 1rem;
    }

    .redes-sociales{
        margin-top: 1rem;
    }

    .descripcion {
      flex-direction: column;
      .texto {
          margin-top: 1rem;
      }
    }

}